/* ==UserStyle==
@name         Dark theme for echo.msk.ru
@namespace    github.com/k0zyrev/dark.echo.msk.ru.css
@description  Makes you not go blind when opening echo.msk.ru. Also hides comments to save your sanity.
@version      0.0.5
==/UserStyle== */
@-moz-document domain("echo.msk.ru") {
    html {
        color: #aaa;
        background: #2B2B2B
    }
    body,
    .discuss,
    .askthelive,
    .hotlinks h2 {
        background: #2B2B2B;
    }
    .header_body {
        background: #1B1B1B;
        border-bottom: 1.25em solid #1B1B1B;
    }
    .tags {
        background: #4b4b4b !important;
    }
    .typical {
        color: #ddd;
    }
    .conthead.blog .date {
        color: #aaa;
    }
    a,
    a:link {
        color: #eee;
    }
    a:hover,
    a.dark:hover,
    .carouselnav li.current,
    .carouselnav li.current .num {
        color: #ed1c24;
    }
    .lite {
        color: #959595 !important;
    }
    .black {
        color: #b50a0a !important;
    }
    .carouselnav li {
        background-color: #171717;
        border: solid 1px #4d4d4d;
    }
    .carouselnav .num {
        color: #e6e6e6
    }
    .preview .prevcontent,
    .aboutbroadcast {
        background: #3e3e3e;
    }
    .secondsubmenu,
    .secondmenusection:hover a.menulink {
        background: #222;
    }
    .carouselnav li {
        background-color: transparent;
        border: solid 1px #4d4d4d;
    }
    .carouselnav .wsico {
        color: #707070;
    }
    .inpselblock {
        background: none;
        color: #eee;
    }
    .commBlock {
        color: #eee !important;
    }
    .preview.hover .prevcontent {
        box-shadow: 0 0 0 0.25em #1B1B1B;
    }
    .preview .mediamenu {
        border: none;
    }
    .preview .mediamenu a {
        background: #2B2B2B;
        color: #fff;
        border-left: none;
    }
    .dark {
        color: #bbb !important;
    }
    .preview .title {
        color: #b9b9b9;
    }
    .preview .mediamenu a .text,
    .multimedia .mediamenu a .text,
    .liveprogrammes a,
    .liveprogrammes a:link,
    a.menulink:visited,
    a.submenu:visited {
        color: #fff !important;
    }
    .preview .mediamenu a .size,
    .multimedia .mediamenu a .size {
        color: #888;
    }
    .conthead .person .name {
        color: #ececec;
    }
    .multimedia .mediamenu a {
        background: #2f2f2f;
        color: #b9b9b9
    }
    .aboutbroadcast .text {
        color: inherit;
    }
    .prevcontent {
        background: #ccd210;
    }
    .body-frontpage .wrapper {
        max-width: 75em !important;
    }
    .commBlock,
    #commentsLoadOnScroll,
    #comments {
        display: none;
    }
    .supermaincarousel .title {
        text-shadow: 2px 2px #000 !important;
    }
    .program_title {
        background: #000 !important;
    }
    .liveprogrammes .persons {
        color: #7f7f7f !important;
    }
    .searchform fieldset input {
        background: #aaa !important;
    }
    .broadcast_list,
    .newslist .time_title {
        background: inherit !important;
    }
    .main a:visited,
    .supermaincarousel a:visited {
        color: #666 !important;
    }
}
